<h1>Lobby</h1>


<div id="messages">
</div>
<div>
    <input type="hidden" id="username" value={ @conn.assigns.user.name }>
    <input type="text" id="chat-input">
</div>


<div>
    <%= form_for @conn, Routes.session_path(@conn, :delete), [method: :delete, as: :user], fn _f ->%>
        <%= submit "Logout" %>
            <% end %>
</div>