<section class="phx-hero">
  <h1>Welcome to Phoenix!</h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <%= link "Create an account!", to: Routes.user_path(@conn, :new)%>
</section>
